{% extends 'base.html.twig' %}

{% block title %} Accueil | {{ parent() }}{% endblock %}

     {% block body %}
        {% include("menus/navigation.html.twig") %}
        {% include("headers/header.html.twig") %}

<div class ="container">

    <article>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                <h4>Projet UML / 
                    Travaux Pratiques DWWM2/2022-23 </h4>
            </a>
        </div>

        <div class="card border-primary" >
            <div class="card-body justify-content">
                <img src="{{ asset('images/001.jpg') }}" class="col-md-6 float-md-end mb-3 ms-md-3" alt="..."> 
                    <p class="justify-content">
                            <h4> Mise en place d’une Application de gestion des Clubs de la Municipalité </h4>

                                <p>
                                    La municipalité de votre localité vous demande de leur proposer une Application de gestion de leurs activités sportives et autres. C’est une application Web qui aidera à informatiser la gestion des activités de la municipalité. 
                                    Cette application Web devra permettre de visiter les activités que propose la Municipalité que les Administrateurs du site mettront en ligne.
                                    Vous devez alors permettre qu’il y ait une double interface (User / Admin)
                                    Cette application aura entre autre des fonctionnalités suivantes :
                                </p>

                                <h4>
                                    <br>User Interface
                                </h4>
                                    L’application devra permettre à toute personne connectée sur le site de la municipalité, à tout internautes de consulter la liste des activités proposées et de choisir un ou plusieurs abonnements et remplir un panier. 
                                    Cependant, pour valider leur commande ces internautes doivent avoir un compte et s’y connecter.
                                </p>

                                <p> 
                                    <br>La municipalité propose une Formule Adhérents. 
                                </p>

                                <p>
                                    Pour être adhérent il faut avoir créé son compte sur le site de la Commune qui vous est proposée.
                                    De ce fait, l’application va permettre aux adhérents de s’abonner aux activités proposées par la Municipalité: 
                                    Seuls ces adhérents à l’application peuvent valider un panier contenant un (ou plusieurs) abonnement(s)t à une ou plusieurs activités  et le régler en ligne. 
                                    L’adhérent doit s’être connecté avec son login pour pouvoir valider son panier, payer en ligne, gérer son compte, visualiser l’historique le concernant, bref pour toutes les actions qui lui sont propres.
                                </p>

                                <h4>
                                    <br>Admin Interface :
                                </h4>

                                <p>
                                    <br>Du côté Administrator,
                                </p> 
                                    <li>	vous devez permettre à l’Assistante du Club de la Municipalité de pouvoir créer et gérer via l’application le catalogue des activités (Musique, Chant, Arts graphiques, Yoga, Poterie …)  proposées sur le site internet du club. </li>
                                    <li>	De même, du côté Admin, l’application permettra également au comptable de gérer les règlements des abonnements des adhérents aux activités (remises de chèques, échéanciers, impayés…)</li>

                                <hr>
                                
                                <h4>
                                    <br>Quelques règles de Gestion
                                </h4>

                                <li>	Chaque abonnement est annuel et a un tarif spécifique suivant l’activité choisie.</li>
                                <li>	Le paiement en ligne doit être proposé, mais Il reste possible de payer le montant de l’abonnement par chèque(s) remis au comptable du Club (par courrier ou directement à la permanence administrative). </li>
                                <li>	Il est possible de régler le montant d’un abonnement en plusieurs fois, avec plusieurs chèques, en indiquant la date de dépôt souhaitée pour chaque chèque.</li>
                    </p>
                    
                    <br>

                    <hr>
                    <h4> Gestion de la comptabilité </h4>
 
                        <p>
                            L’application comporte toutes les fonctionnalités relatives à la gestion d’un ou plusieurs services, elle fera gagner un temps précieux et évitera des erreurs. 
                            Concrètement, cette application permettra de :
                            <li> lister tous les abonnés et rassembler toutes les informations les concernant,</li>
                            <li> obtenir des statistiques sur les abonnés, notamment leur nombre par groupe et par sexe, </li>
                            <li> gérer les inscriptions (réception des pièces des dossiers), </li>
                            <li> suivre le paiement des frais des abonnements , </li>
                            <li> suivre les abonnés, leurs absences, </li>
                            <li> saisir et présenter dans un tableau la liste des activités, </li>
                            <li> saisir et présenter les emplois du temps, </li>
                            <li> etc.</li>


                        </p>
<hr>
                        <div>
                        	    <h3> NAVIGATION </h3> <br>
                                <h4><b>User Interface</b></h4>
                                <li>Accueil</li>
                                <li>A Propos,</li>
                                <li>Catalogue,</li>
                                <li>Abonnements</li>
                                <li>Adhésion </li>
                                <li> Enregistrement</li>
                                <li> Admin (retour à l’interface Administrateur)</li>
                            
                                <h4><b>Admin Interface</b></h4>
                            	<li> User Interface (retour à l’interface utilisateur)</li>
                            	<li>Articles</li>
                            	<li>Catalogues</li>
                            	<li>Payment</li>
                            	<li>Abonnements</li>
                            	<li>Adhérents</li>
                        </div>


                        <div>
                            
                        <h4>	ENTITES </h4>
                        	<h4><b> Description Article </b></h4>
                        	<li>Titre,</li>
                        	<li>Auteur</li>
                        	<li>Image,</li>
                        	<li>Résumé</li>
                        	<li>Contenu</li>
                        	<li>Commentaire</li>
                        	<li>Date de création</li>




                        <h4><b> 	Description Utilisateur </b></h4>
                        <li>	Noms, </li>
                        <li>	Prénoms </li>
                        <li>	Pseudo, </li>
                        <li>	Photo </li>
                       <li>	Adresse </li>
                        <li>	Code postal </li>
                        <li>	Ville </li>
                        <li>	Pays </li>
                       <li>	Téléphone </li>
                        <li>	Mail </li>


                        </div>
                        <div></div>
                        <div></div>

            </div>
        </div>
    

    </div> 

<br><br><br><br>

{% endblock %}
