{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {% include("menus/navigation_admin.html.twig") %}
    {% include("headers/header_admin.html.twig") %}
<br>

    <div class="card-body justify-content">
        <img src="{{ asset('images/mairie.png') }}" class="col-md-6 float-md-justify mb-3 ms-md-3" alt="..."> 
    </div>





{% endblock %}
