{% extends 'base.html.twig' %}

{% block title %}Hello AdemineController!{% endblock %}

{% block body %}
    {% include("menus/navigation_admin.html.twig") %}
    {% include("headers/header_admin.html.twig") %}

 <div >
            
    <div class="container">
    <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action active">
                <h4>Performances / Tools </h4>
              </a>
            </div>

        <!-- Article main content -->
        <article class="col-md-12 maincontent">
            <div class="container">
                    <div class="jumbotron">

                        <div> <br>
                            <h5> ~ Profil Utilisateur </h5>
                                {% if app.user %}
                                    <ul>
                                        <li><h6> Login :  {{ app.user.userIdentifier }} </6> <br> </li>
                                        <li>Logout:  <a href="{{ path('app_logout') }}" class="btn btn-danger">Deconnexion</a><br></li>
                                    </ul>
                                {% endif %}
                        </div>
                        <hr>
                        
                        <h5> ~ Performances</h5>
                            <ul>
                                <li>Utilisation de la mémoire:  {{ info.memoire }} octées <br> </li>
                                <li>Temps d'exécution:  {{ info.temps }} ms <br></li>
                            </ul>
                        </div>
                        <hr>


                    <h4 >Des Outils à Télécharger </h4>
                    <p>Pour une bonne utilisation de cette application, vous pouvez mettre à jours les outils suivant:</p>

                    <ul>
                        <li>  
                            <a href="https://symfony.com/doc/current/doctrine.html" target="_blank"> Doctrine /</a> 
                         </li>
                        <li>  
                            <a href="https://symfony.com/bundles/FOSCKEditorBundle/current/index.html" target="_blank"> FOSCKEditor /</a> 
                        </li>
                        <li>  
                            <a href="https://github.com/KnpLabs/KnpPaginatorBundle" target="_blank"> KnpPaginator /
                        </li>
                
                        <li>  <a href="https://symfony.com/bundles/LiipImagineBundle/current/index.html" target="_blank"> Liip/LiipImagine /</a> </li>
                        <li> Maker / </li>
                        <li> Photoshop / </li>
                        <li>  
                            <a href="https://github.com/dustin10/VichUploaderBundle" target="_blank"> VichUploader /</a> 
                        </li>


                        <li> WamppServer / </li>

                    </ul>
                    
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                    </p>

                     {% include("tools/warming.html.twig") %}
            </div>
        </article>
    </div>

{% endblock %}
