{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {% include("menus/navigation_admin.html.twig") %}
    {% include("headers/header_admin.html.twig") %}


    <div class="container">
        <!-- Article main content -->
        <article class="col-md-12 maincontent">
            <div class="container">
                    <div class="jumbotron">
                    <h1 class="display-6">Des Outils à Télécharger </h1>
                    <hr>
                    <p class="lead">Vous venez d'arriver sur notre ? <br>
                     Vous êtes familier du téléchargement en ligne et souhaitez booster les performances de votre site dans ce domaine ?<br>
                      Découvrez sans plus tarder les logiciels gratuits les plus populaires, à télécharger directement sur notre site. <br>
                      Selon vos préférences, accédez à de nombreuses applications, des applications pouvant vous aider à b debugger ce website</p>
                    <hr class="my-4">
                    <p>Nous mettons également à votre disposition la procédure, les codes et tous les documents necessaire pour la gestion de notre website</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                    </p>

                     {% include("tools/warming.html.twig") %}
            </div>
        </article>
    </div>
{% endblock %}
