{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {% include("menus/navigation_admin.html.twig") %}
    {% include("headers/header_admin.html.twig") %}


    <div class="container">
        <!-- Article main content -->
        <article class="col-md-12 maincontent">
            <div class="container">
                    <div class="jumbotron">
                    <h1 class="display-6">Des Outils à Télécharger </h1>
                    <hr>
                    <p class="lead">Vous venez d'arriver sur gestion de Municipalité ? <br>
  
                    <hr class="my-4">
                    <p>Nous mettons également à votre disposition la procédure, les codes et tous les documents necessaire pour la gestion de notre website</p>

                    <ul>
                        <li> Doctrine / </li>
                        <li> FOSCKEditor / </li>
                        <li> KnpPaginator / </li>
                        <li> liip/LiipImagine / </li>
                        <li> Maker / </li>
                        <li> Photoshop / </li>
                        <li> VichUploader / </li>
                        <li> WamppServer / </li>

                    </ul>
                    
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                    </p>

                     {% include("tools/warming.html.twig") %}
            </div>
        </article>
    </div>
{% endblock %}
