{% extends 'base.html.twig' %}





{% block body %}
    {% include("menus/navigation_admin.html.twig") %}
{% include("headers/header.html.twig") %}




     
<div class="container">
    <article>
            <h2> {{auteurs.noms}}</h2> 
            <br>                    
            
                
       </article>      

</div>
{% endblock%}

{% block footer %} 


{% endblock%}


