{% extends 'base.html.twig' %}


{% block body %}
    {% include("menus/navigation_admin.html.twig") %}
    {% include("headers/header.html.twig") %}
                
        <article class="col-md-12 maincontent">
            <div class="container">
                <div class="row">
                   <h1> Nouvel Auteur</h1>
                   <hr>

            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class"btn btn-success"> Ajouter cet Auteur </button>
            {{ form_end(form) }}


                        
                </div>            
            </div>
        </article>   
{% endblock%}

{% block footer %} 

{% endblock%}



