{% extends 'base.html.twig' %}


{% block body %}

        {% include("menus/navigation.html.twig") %}
        {% include("headers/header.html.twig") %}

    <div class ="col-lg-12 bg-light">
        <div class ="container-sm">   <div>
                <h3> Gestion des Catalogues </h3>
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
