{% extends 'base.html.twig' %}


{% block body %}
    {% include("menus/navigation.html.twig") %}
    {% include("headers/header.html.twig") %}

<div class="container">
                <div class="row" >
            <div class="col-3">
        {%for article in articles  %}

                <br><h3>titre : {{article.titre}} </h3> 
                <br>{{article.auteur}} 
                <br>{{article.resume}} 
                

        {% endfor%}    
                    </div
            </div>  
    </div>


{% endblock %}

{% block footer %} 
{% endblock%}