{% extends 'base.html.twig' %}

{% block title %}Liste des Biens!{% endblock %}

{% block body %}

    {% include("menus/navigation_admin.html.twig") %}
    {% include("headers/header_admin.html.twig") %}

<div class="container">
        <!-- Article main content -->
        <article class="col-md-12 maincontent">
            <div class="container">
                <div class="row">	
            <div class="container">
                    <h1>Nouvelle Article </h1>

                    <hr style="width:100%; height:10px; background-color:#1B4F72 ">

            {# {{ form_widget(form) }} #}

            {{ form_start(form) }}

                {{ form_widget(form) }}

            <button type="submit" class="btn btn-success"> Ajouter cet article</button>

            {{ form_end(form) }}

            </div>
            </div>
            </div>
            </article>
            </div>


{% endblock %}